html {
  font-family: sans-serif;
  background-image: url(http://healingthroughaction.com/wp-content/uploads/groupdance-resized.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: hidden;
  height: 100%;
  width: 100%;
  margin: 0%;
}
nav ul {
  float: right;
  margin-right: 40px;
}
nav a {
  color: beige;
  font-size: 18px;
  text-transform: uppercase;
  border: 1px solid transparent;
  padding: 7px 10px;
  border-radius: 3px;
}
a.active,
a:hover {
  border: 1px solid white;
  transition: 0.5s;
}
.quote {
  text-align: right;
  font-family: cursive;
  color: antiquewhite;
  margin-right: 20px;
  font-size: 30px;
}
.last-step {
  font-size: 34px;
  margin-right: 3.5rem;
  font-family: Georgia, "Times New Roman", Times, serif;

  color: antiquewhite;
  text-align: right;
}
.logo {
  font-size: 56px;
  text-align: right;
  color: rgb(238, 101, 238);
  font-family: Georgia, "Times New Roman", Times, serif;
}

.app-container {
  height: 100%;
  width: 350px;
  background-image: linear-gradient(#580e8f, #9200ff);
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  position: absolute;
  overflow-y: hidden;
}
.top-box {
  height: 100px;
  background-color: #7d12c9;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
}
.top-box p {
  text-align: center;
  padding-top: 10px;
  color: #fff;
}
.middle-box {
  height: 120px;
  background-image: linear-gradient(#580e8f, #9200ff);
  margin: -70px 30px 20px;
  color: #fff;
  text-align: center;
  font-size: 12px;
  border-radius: 10px;
}
.middle-box h1 {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 50px;
  font-weight: normal;
}
.middle-box h1 span {
  font-size: 20px;
  margin-left: 5px;
  bottom: 18px;
  position: relative;
}
.payment-opt-button {
  color: #fff;
  margin: 5px 30px;
  height: 30px;
  width: 290px;
  background-color: #9100fd;
  border: transparent;
  cursor: pointer;
  transition: 1s;
}
.card-details {
  background: #fff;
  color: #555;
  margin: 10px 30px;
  padding: 10px;
}
.card-details p {
  font-size: 14px;
}
.card-details label {
  font-size: 10px;
  line-height: 20px;
}
.date-feild-group {
  margin-top: 10px;
  display: inline-block;
}
.cvc-feild-group {
  margin-top: 10px;
  display: inline;
  float: right;
}
.cvc-feild-group {
  margin-top: 10px;
}
.card-num-feild,
.name-feild {
  width: 270px;
}
.date-feild,
.cvc-feild {
  width: 80px;
}
.card-details input {
  border: 1px solid #ccc;
  height: 22px;
  padding: 5px;
  font-size: 10px;
}
.card-details input::placeholder {
  color: #ccc;
}
.pay-btn {
  color: #fff;
  margin-top: 20px;
  height: 30px;
  width: 270px;
  background-color: #9100fd;
  border: none;
  cursor: pointer;
}
.comapany-code-group {
  display: inline-block;
}
